# Python virtual environment
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Dataset - do not push
dataset/

# Uploaded and generated images
static/uploads/
static/results/

# Jupyter checkpoints
.ipynb_checkpoints/

# Large model files
#model/*.keras
model/*.h5

# OS files
.DS_Store
Thumbs.db